name: Lint and Test Charts

on:
    pull_request_target:
        types: [opened, synchronize, reopened, ready_for_review]

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v1
        with:
          version: v3.9.2

      - uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.2.1

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed --config ct.yaml)
          if [[ -n "$changed" ]]; then
            echo "::set-output name=changed::true"
          fi

      - name: Run chart-testing (lint)
        run: ct lint --config ct.yaml

      - name: Create kind cluster
        uses: helm/kind-action@v1.2.0
        if: steps.list-changed.outputs.changed == 'true'

      - name: Run chart-testing (install)
        run: |
          sed -i "s/test_provisioning_key/$PROVISIONING_KEY/g" access-broker/ci/basic-values.yaml
          sed -i "s/test_provisioning_secret/$PROVISIONING_SECRET/g" access-broker/ci/basic-values.yaml
          docker login registry.gitlab.com -u datawiza-deploy-token -p $DATAWIZA_REPO_LOGIN_TOKEN
          kubectl create ns test
          kubectl create secret generic cred --from-file=.dockerconfigjson=$HOME/.docker/config.json --type=kubernetes.io/dockerconfigjson -n test
          ct install --config ct.yaml --namespace test
        env:
          PROVISIONING_KEY: ${{ secrets.PROVISIONING_KEY }}
          PROVISIONING_SECRET: ${{ secrets.PROVISIONING_SECRET }}
          DATAWIZA_REPO_LOGIN_TOKEN: ${{ secrets.repo_token }}
